<div class="card m-4">
    <div class="card-body">
        <h5 class="card-title">Nom de la plante : {{ this.plant.name }}</h5>
        <p class="card-text">Niveau : {{ this.plant.level }}</p>
        <p class="card-text">Description : </p>
        <p class="card-text">Photo : </p>
    </div>
</div>