{% extends "base.html.twig" %}

{% block title %}Edition du profil
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">Modifiez votre profil</div>
			{{form(form)}}
		</div>
{% endblock %}