{% extends "base.html.twig" %}
{% block body %}
	<a href="{{ path('app_edit_user')}}" class="btn btn-primary">Modifier le profil</a>
	<a href="{{ path('app_edit_password')}}" class="btn btn-primary">Modifier le mot de passe</a></div>
{% endblock %}